<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.shinaier.laundry.snlfactory"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".FactoryApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.ui.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".main.ui.GuideActivity"
                  android:noHistory="true"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".main.MainActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustNothing"
            />
        <activity android:name=".main.ui.LoginActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.ManageFinanceActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.ManageCommodityActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.AddCommodityActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <!--<activity android:name=".manage.ui.InviteFriendActivity"-->
                  <!--android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"-->
                  <!--android:screenOrientation="portrait"-->
            <!--/>-->
        <activity android:name=".manage.ui.UserEvaluateActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.MessageNoticeActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.ManageEmployeeActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.StoreDetailActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".base.WebViewActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.CashBackActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.FeedbackActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.RevisePasswordActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.OrderInquiryResultActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.CancelOrderActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.CraftworkAddPriceActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustNothing"
            />
        <activity android:name=".ordermanage.ui.CheckClothesActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.OrderDetailActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.BigImageActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.ColorSettingActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.QuestionInfoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.AddPhotoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.EditPhotoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".main.ui.FindPasswordActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.BigPhotoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.AddProjectActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.OrderInquiryActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.ScanActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.MemberInfoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.OrderPayActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.BuyMemberCardActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.SendLaundryActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustNothing"
            />
        <activity android:name=".offlinecash.ui.TakeClothesActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.StatisticsActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.OfflineOrderDetailActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.VipCardDetailActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.OfflineMemberManageActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.OfflineMemberDetailActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.OfflineMemberConsumeActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.OfflineMemberBalanceActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.OfflineMemberAddActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.OfflineMemberRechargeActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.OfflineAddVisitorActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.ConnectBluetoothActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.PrintActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.OperateAnalysisActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.OfflineEnterpriseAddActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.LeaveFactoryActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.CooperationStoreActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.AddEmployeeActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.IntoFactoryActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.SetStoreInfoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.ManageCommodityEditActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait" />

        <service
            android:name=".service.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>