<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.shinaier.laundry.snlfactory"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.shinaier.laundry.snlfactory.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!--JPush用到的权限-->
    <uses-permission android:name="com.shinaier.laundry.snlfactory.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".FactoryApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.ui.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".main.ui.GuideActivity"
                  android:noHistory="true"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".main.MainActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustNothing"
            />
        <activity android:name=".main.ui.LoginActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.ManageFinanceActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.ManageCommodityActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.AddCommodityActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <!--<activity android:name=".manage.ui.InviteFriendActivity"-->
                  <!--android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"-->
                  <!--android:screenOrientation="portrait"-->
            <!--/>-->
        <activity android:name=".manage.ui.activity.UserEvaluateActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.MessageNoticeActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.ManageEmployeeActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.activity.StoreDetailActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".base.activity.WebViewActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.CashBackActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.activity.FeedbackActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.activity.RevisePasswordActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.OrderInquiryResultActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.activity.CancelOrderActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.activity.CraftworkAddPriceActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustNothing"
            />
        <activity android:name=".ordermanage.ui.activity.CheckClothesActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.OrderDetailActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.activity.ColorSettingActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.activity.QuestionInfoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.activity.AddPhotoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.activity.EditPhotoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".main.ui.FindPasswordActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.activity.BigPhotoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.activity.AddProjectActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.OrderInquiryActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.ScanActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.MemberInfoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OrderPayActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.BuyMemberCardActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.TakeClothesActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.StatisticsActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineOrderDetailActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.activity.VipCardDetailActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineMemberManageActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineMemberDetailActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineMemberConsumeActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineMemberBalanceActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineMemberAddActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineMemberRechargeActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineAddVisitorActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.activity.ConnectBluetoothActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.PrintActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.OperateAnalysisActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineEnterpriseAddActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.LeaveFactoryActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.activity.CooperationStoreActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.AddEmployeeActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.IntoFactoryActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.activity.SetStoreInfoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.ManageCommodityEditActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait" />
        <activity android:name=".manage.ui.activity.CashCouponCenterActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait" />
        <activity android:name=".manage.ui.activity.CashCouponActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait" />
        <activity android:name=".manage.ui.activity.MakeCashCouponActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait" />
        <activity android:name=".ordermanage.ui.activity.CleanedAssessmentActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait" />
        <activity android:name=".manage.ui.activity.OrderSearchActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait" />
        <activity android:name=".ordermanage.ui.activity.EditorPriceActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode = "adjustPan"/>
            />
        <activity android:name=".offlinecash.ui.activity.OfflineChangeMemberInfoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.activity.AddProjectsActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.activity.AddCooperativeStoreActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineWashingActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.RefluxAddPhotoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineRefluxEditActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineHangOnActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.OfflineRefluxActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineWashActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />


        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.shinaier.laundry.snlfactory" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":mult"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.shinaier.laundry.snlfactory" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.PACKAGE_ADDED" />-->
            <!--<action android:name="android.intent.action.PACKAGE_REMOVED" />-->

            <!--<data android:scheme="package" />-->
            <!--</intent-filter>-->
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".receiver.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.shinaier.laundry.snlfactory" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="72d12d36511ee42f79f92553" /> <!--  </>值来自开发者平台取得的AppKey-->


        <service
            android:name=".service.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>