<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.shinaier.laundry.snlfactory"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".FactoryApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.ui.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".main.ui.GuideActivity"
                  android:noHistory="true"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".main.MainActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustNothing"
            />
        <activity android:name=".main.ui.LoginActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.ManageFinanceActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.ManageCommodityActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.AddCommodityActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <!--<activity android:name=".manage.ui.InviteFriendActivity"-->
                  <!--android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"-->
                  <!--android:screenOrientation="portrait"-->
            <!--/>-->
        <activity android:name=".manage.ui.activity.UserEvaluateActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.MessageNoticeActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.ManageEmployeeActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.activity.StoreDetailActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".base.activity.WebViewActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.CashBackActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.activity.FeedbackActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.activity.RevisePasswordActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.OrderInquiryResultActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.activity.CancelOrderActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.activity.CraftworkAddPriceActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustNothing"
            />
        <activity android:name=".ordermanage.ui.activity.CheckClothesActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.OrderDetailActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.activity.ColorSettingActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.activity.QuestionInfoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.activity.AddPhotoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.activity.EditPhotoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".main.ui.FindPasswordActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.activity.BigPhotoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.activity.AddProjectActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.OrderInquiryActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.ScanActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.MemberInfoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OrderPayActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.BuyMemberCardActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.TakeClothesActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.StatisticsActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineOrderDetailActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.activity.VipCardDetailActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineMemberManageActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineMemberDetailActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineMemberConsumeActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineMemberBalanceActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineMemberAddActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineMemberRechargeActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineAddVisitorActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.activity.ConnectBluetoothActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.PrintActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.OperateAnalysisActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineEnterpriseAddActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.LeaveFactoryActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.activity.CooperationStoreActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.AddEmployeeActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.IntoFactoryActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.activity.SetStoreInfoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.ManageCommodityEditActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait" />
        <activity android:name=".manage.ui.activity.CashCouponCenterActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait" />
        <activity android:name=".manage.ui.activity.CashCouponActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait" />
        <activity android:name=".manage.ui.activity.MakeCashCouponActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait" />
        <activity android:name=".ordermanage.ui.activity.CleanedAssessmentActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait" />
        <activity android:name=".manage.ui.activity.OrderSearchActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait" />
        <activity android:name=".ordermanage.ui.activity.EditorPriceActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode = "adjustPan"/>
            />
        <activity android:name=".offlinecash.ui.activity.OfflineChangeMemberInfoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".ordermanage.ui.activity.AddProjectsActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".setting.ui.activity.AddCooperativeStoreActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineWashingActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.RefluxAddPhotoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineRefluxEditActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineHangOnActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".manage.ui.activity.OfflineRefluxActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".offlinecash.ui.activity.OfflineWashActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
                  android:screenOrientation="portrait"
            />



        <service
            android:name=".service.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>